@charset "utf-8";

/* メイン画像 */
.mainVisual {
    width: 100%;
    height: 350px;
    border-radius: 20px;
}

.icon {
    width: 100%;
}

.post_img {
    width: 100px;
}

/* エラーメッセージ */
#errors {
    font-weight: bold;
    list-style: none;
}

/* 投稿番号のクリックを分かりやすくする(mypage_view.php) */
#id {
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}

#id:hover {
    color: #fff;
    background: #008080;
    text-decoration: none;
}